.main {
  text-align: left;
  font-weight: 700;
  max-width: 72vw !important;
  padding: 0 !important;
}

.main .hero {
  max-width: 640px;
}

.main .hero > p {
  margin: 0 auto 10px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}

.main .hero > p.title {
  font-size: 90px;
  line-height: 109px;
}

.cta-container {
  display: flex;
  margin-top: 30px;
}

.cta-container > button {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-right: 33px;
  padding: 10px 40px;
}

.cta-container > button > svg {
  margin-right: 11px;
}

.connected-wallet-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 35px;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
}

.connected-wallet-box > div {
  margin-bottom: 25px;
}

.connected-wallet-box > button {
  margin-top: 5px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  padding: 14px 28px;
}
