.main {
    text-align: left;
    font-weight: 700;
    max-width: 72vw !important;
    padding: 0 !important;
  }
  .main .hero > p {
    font-size: 4em;
  }
  
  .connectWallet  {
    color: white;
    font-weight: 700;
  }

  .connectWalletBox {
      position: relative;
  }
    
  svg.arrow {
      left: -350px;
      height: 200px;
      position: absolute;
  }