.header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 120px;
}

.header-cta {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.header-cta > button {
  background-color: darkgrey;
  color: black;
}

.header-cta > button:hover {
  background-color: gray;
}
