.user-sers > h2,
.recently-minted-sers > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}

.user-sers {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 100px;
}

.ser-item {
  border-radius: 50px;
}

.ser-item > .ser-card {
  border-radius: 40px;
}

.ser-item-description {
  text-align: center;
}

.ser-card:hover {
  cursor: pointer;
  /* border: 1px solid red; */
}

.ser-card:hover .MuiCardContent-root {
  background-color: teal;
}

.ser-card-carousel {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 50px 0 15px;
  overflow: hidden;
  user-select: none;
}

.ser-card.carousel-item {
  height: 100%;
  width: 230px;
  margin: 0 10px;
}

.ser-card.carousel-item.carousel-wing {
  width: 275px;
}

.ser-card.carousel-item.carousel-middle {
  width: 306px;
}

.ser-card.carousel-item img {
  height: calc(100% - 94px);
}

.carousel-controls-left {
  left: 0;
}

.carousel-controls-right {
  right: 0;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.3);
  /* width: 30px; */
  padding: 5px;
  z-index: 999;
}

.carousel-controls > svg > path {
  fill: rgba(0, 0, 0, 0.3);
}

.carousel-controls:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.carousel-controls:hover > svg > path {
  fill: rgba(0, 0, 0, 0.75);
}
