html * {
  font-family: 'Gill Sans', sans-serif;
}

body {
  background-color: #f1f1f1;
  background-image: url('./background-light.jpeg');
  background-repeat: no-repeat;
  background-position: top center;
}

.App {
  text-align: center;
  background-color: #f1f1f1;
  min-height: 100vh;
}
