body {
  background-color: #f1f1f1;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.App {
  text-align: center;
  background-color: #f1f1f1;
  min-height: 100vh;
}
